<!doctype html>

{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<style>
		.organisation-logo-medium, .organisation-logo-stacked-medium {
    font-size: 18px;
    line-height: 22px;
    padding: 3px 0 2px 38px;
    background-image: url(../images/icons/crests/hmrc_crest_18px.png);
    background-position: 6px center;
    border-left: 2px solid #009390;
    white-space: nowrap;
			
}
		.logo.margintop {margin-top:20px;}
		.alpha-banner p {
	margin-bottom: 0.5em;
    padding: 10px 0 8px 0;
	border-bottom: 1px solid #bfc1c3;}
	</style>


  <div class="grid-row">
    <div class="column-two-thirds">
<div class="alpha-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a trial service. Help us improve it - send your
      <a href="">feedback</a>.</span>
    </p>
  </div>
    <div class="logo margintop">
        <span class="organisation-logo organisation-logo-medium"> HM Revenue &amp; Customs </span>
    </div>
    

		<h1 class="heading-xlarge">
        Sign in
        <span class="heading-secondary"></span>
      </h1>{{releaseVersion | log }}
		
		<p>Enter your Government Gateway credentials to sign in. You received these when you created your HMRC online account.</p>
		<form method="post">
		<div class="form-group">
  <label class="form-label" for="first-name-2">User ID</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Password</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>
    <button class="button" type="submit">Sign in</button>
		<h2 class="heading-medium">Problems signing in</h2>
		<ul class="list">
			</form>
        <li><a id="verify-user" href="https://www.tax.service.gov.uk/ida/sa/login" target="_self" data-sso="false">Trying to file Self Assessment using GOV.UK Verify?</a></li>
        <li><a id="registration" href="/government-gateway-registration-frontend/route?continue=%2Faccount&amp;origin=unknown" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:exit_create_new_gg_account">Don’t have a Government Gateway account</a></li>
        <li><a id="forgotten-user-id" href="/government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=userId" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:forgotten_user_id">Forgotten user ID</a></li>
        <li><a id="forgotten-password" href="/government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=password" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:forgotten_password">Forgotten password</a></li>
        <li><a id="forgotten-user-id-and-password" href="/government-gateway-lost-credentials-frontend/choose-password-saved?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=userIdAndPassword" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:forgotten_user_id_and_password">Forgotten user ID and password</a></li>
    </ul>
		<!--<a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>-->
	  </div>
    </div>
   
</main>

{% endblock %}